.main-container{
    background: #282726;
    width: 600px;
    height: 730px;
    font-family: "Hanken Grotesk", serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #f9f4da;
    gap: 20px;
}

.upper-text{
    margin: 80px 73px 0 73px;
    display: grid;
    gap: 6px;
}

.upper-text h3{
    font-size: 20px;
    line-height: 26px;
}

.upper-text p{
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18.24px;
}

.status-bar{
    height: 58px;
    width: 352px;
    border-radius: 4px;
    margin-top: 5px;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.languages{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5px;
    width: 260px;
    margin-block: 15px;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
}

.dead::before{
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.word{
    background: #323232;
    width: 40px;
    height: 40px;
    padding: 6px;
    border-bottom: 1px solid #f9f4da;
    color: #f9f4da;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.missed{
    color: #ec5d49;
}

.current-word{
    display: flex;
    gap: 2px;
}

.letter{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    padding: 6px;
    background: #fcba29;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.correct{
    background: #10a95b;
}

.incorrect{
    background: #ec5d49;
}

.keyboard{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 480px;
    justify-content: center;
    margin-top: 44px;
}

.new-game{
    margin-top: 16px;
    border-radius: 4px;
    padding: 6px 12px;
    width: 228px;
    height: 40px;
    border: 1px solid #d7d7d7;
    background: #11b5e5;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.disabled{
    cursor: not-allowed;
    background: #c99321;
}